/* Tag classes */
html {
    height: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: .875rem;
    background-color: white;
    height: 100%;
    color: slategray;
}

a {
    text-decoration: none;
}

header>ul>li {
    list-style-type: none;
}

footer>ul>li {
    list-style-type: none;
}

/* General purpose classes */

.align-center-text{
    text-align: center;
}

.align-right-text{
    text-align: right;
}

.general-box {
    padding: .75rem 1.75rem;
}

/* Body classes */

.body-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/* Header classes */

.header-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-list-box {
    /* margin-top:auto; */
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin-top: 0.5rem;
    height: 1rem;
    color:black;
}

.header-list-box.icon-padding {
    /* Now I do: the icon "centerline" is aligned to the topmost part. As such, to center it,
    it only needs half the margin to aim for that proper centerline.*/
    margin-top: 0.25rem;
} 

.sign-in {
    background-color: rgb(57, 143, 241);
    font-weight: bold;
    font-style: normal;
    border-radius: 3px;
    margin-left: .5rem;
}

.header-list-box>a {
    color: black;
}

.header-list-box>a:hover {
    text-decoration: underline;
}

.sign-in>a {
    color: white;
}

.sign-in>a:hover{
    text-decoration: none;
}

.sign-in:active {
    background-color:rgb(44, 106, 177);;
}



/* Main classes */

.main-flex {
    flex-grow: 1;
    /* Another case of no clue why this value works fine for it's purpose*/
    /* It does give a good effect on resize, even if it is not pixxel perfect*/
    /* For now I'm quitting while I'm ahead*/
    /* margin-top: 8.75rem;  */
    /* Probably this is a candidate to make another flex, with bottom weight so 
       so it can dynamically grow and shrink as it seets fit */
    display: flex;
    flex-direction: column;
}

.top-space {
    flex-grow: 1;
}

.content {
    flex-grow: 2;
}

.logo {
    margin: 0 0 0.5rem 0;
}

.form-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 1rem 0 0 0;
}

.form>p {
    margin: 1rem;
}

#search_box {
    border-style: hidden;
    flex-grow: 1;
    font-size: 1.125rem;
}

input#search_box:focus {
    /* No clue on why for focus is outline, while for normal is border-style, it seems inconsistent. */
    outline: none;
}

.search-box {
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: white;
    border-radius: 2rem;
    min-width: 300px;
    max-width: 575px;
    width: 90%;
    margin: auto;
    padding: 0.8rem;
    display: flex;
}

.search-button {
    background-color: whitesmoke;
    margin: 0.5rem 0.2rem 0 0.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.8);
    font-size: .85rem;
}

.search-button:hover {
    border-color: lightgray;
}

.search-button:focus {
    border-color: skyblue;
}

/* Footer classes */

.footer {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7);
    border-top: 1px ridge lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.footer-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}

.footer-flex-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    /* margin-bottom: 1rem; */
}

.footer-space {
    /* Just a flex spacer to make my life
     easier in redimensioning the footer */
    height: 1rem;
    flex-grow: 1;
    margin: 0.5rem 0;
}

.footer-flex-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

.footer-list-box {
    padding: 0 0.1rem;
}

.footer-list-box>a {
    color: rgba(0, 0, 0, 0.7);
    padding-right: 1rem;
}

.footer-list-box>a:hover {
    text-decoration: underline;
}

.footer-list-box>a:active {
    color: rgb(233, 86, 41);
}

.padding-fix>a {
    padding-right: 0;
}

/* Material icons rules */
.material-icons.md-18 { font-size: 18px;}
.material-icons.md-18 { font-size: 24px;}
.material-icons.md-box { padding: 0 0.5rem 0 0.5rem;}

/* Media queries */

@media (min-width:700px) {
    .footer-flex {
        flex-flow: row wrap;
    }

    .footer-space {
        margin: 0;
    }

    .footer-list-box {
        padding: 0 0.5rem 0 0.5rem;
    }
}