/* Tag classes */
html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    background-color: white;
    height: 100%;
    color: slategray;
}

header>ul>li {
    list-style-type: none;
}

footer>ul>li {
    list-style-type: none;
}

/* General purpose classes */

.align-center-text{
    text-align: center;
}

.align-right-text{
    text-align: right;
}

.general-box {
    padding: 1rem 1rem 1rem 1rem;
}

/* Body classes */

.body-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}

/* Header classes */

.header-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-list-box {
    margin-top:auto;
    padding: 0rem 0.5rem 1rem 0.5rem;
    color:black;
}

.header-list-box.icon-padding {
    /* Not sure why it works this way, to center the icon, but it does*/
    padding-bottom: 0.6rem; 
}


/* Main classes */

.main-flex {
    flex-grow: 1;
    /* Another case of no clue why this value works fine for it's purpose*/
    /* It does give a good effect on resize, even if it is not pixxel perfect*/
    /* For now I'm quitting while I'm ahead*/
    margin-top: 10.75rem; 
    /* Probably this is a candidate to make another flex, with bottom weight so 
       so it can dynamically grow and shrink as it seets fit */
}

.logo {
    margin: 0 0 0.5rem 0;
}

.form-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 1rem 0 0 0;
}

.form>p {
    margin: 1rem;
}

#search_box {
    border-style: hidden;
    flex-grow: 1;
    font-size: 1.125rem;
}

input#search_box:focus {
    /* No clue on why for focus is outline, while for normal is border-style, it seems inconsistent. */
    outline: none;
}

.search-box {
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: white;
    border-radius: 2rem;
    min-width: 350px;
    width: 45%;
    margin: auto;
    padding: 0.8rem;
    display: flex;
}

.search-button {
    background-color: whitesmoke;
    margin: 0.5rem 0.2rem 0 0.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.8);
    font-size: .85rem;
}

.search-button:hover {
    border-color: lightgray;
}

.search-button:focus {
    border-color: skyblue;
}

/* Footer classes */

.footer {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7);
    border-top: 1px ridge lightgray;
}

.footer-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width:700px) {
    .footer-flex {
        flex-flow: row wrap;
    }
}

.footer-flex-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.footer-space {
    /* Just a flex spacer to make my life
     easier in redimensioning the footer */
    height: 1rem;
    flex-grow: 1;
}

.footer-flex-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.footer-list-box {
    padding: 0 0.5rem 0 0.5rem;
}

/* Material icons rules */
.material-icons.md-18 { font-size: 18px;}
.material-icons.md-18 { font-size: 24px;}
.material-icons.md-box { padding: 0 0.5rem 0 0.5rem;}
